#tree_diagram
{
	border: 5px solid;
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
#log
{
	border: 5px solid;
	width: 500px;
	height: 500px;
}
#text
{
	width:auto;
	height:auto;
	display:none;
	font-family:Arial;
}